# build for production, create .env.production
# build for staging, create .env.staging
# for development, use .env

VITE_BASE_PATH = http://localhost:8001/api/
VITE_WS_BASE_PATH = ws://localhost:9000
VITE_COOKIE_VALUE_SEPARATOR = ";:"
VITE_LOGIN_CREDENTIAL_COOKIE_NAME = LC

# PUSHER CLIENT CREDENTIALS
VITE_APP_KEY = YOUR_PUSHER_KEY
VITE_PUSHER_CLUSTER = YOUR_PUSHER_CLUSTER