.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.imageWrapper > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}