.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.container:active > img {
    transform: rotate(90deg);
    animation: translateYDelay 0.5s forwards;
}

@keyframes translateYDelay {
    0% {
        transform: rotate(90deg) translateY(0);
    }
    100% {
        transform: rotate(90deg) translateY(-100%);
    }
}